---
import { Image } from "astro:assets";
import kaliaLogo from "@images/logos/KaliaLogo-removebg.png";

---
<div>
  <Image src={kaliaLogo} alt="Kalia Logo" width={100} height={100} {...Astro.props} id="kaliaLogo"/>
</div>