---
import { Image } from "astro:assets";
import { formatDate } from "@utils/utils";
import post1Image from "@images/blog/post-1.jpg";
import post2Image from "@images/blog/post-2.jpg";
import post3Image from "@images/blog/post-3.jpg";

interface Props {
  blogEntry: any;
}

const { blogEntry } = Astro.props;

// Get blog URL
const blogId = blogEntry.id.split('/')[1];
const blogURL = `/blog/${blogEntry.id.replace(/^es\//, "")}`;

// Get image
let blogImage = post1Image;
if (blogId === "estilos-de-cocina-disenos-que-inspiran") {
  blogImage = post2Image;
} else if (blogId === "tendencias-en-suelos-laminados-y-tarimas-flotantes") {
  blogImage = post3Image;
}

// Check if this is the encimeras blog
const isEncimerasBlog = blogId === "encimera-en-los-disenos-de-cocina";
---

<div class="group">
  <a 
    href={blogURL}
    class="block overflow-hidden rounded-xl transition duration-300 hover:shadow-lg"
  >
    {!isEncimerasBlog && (
      <div class="relative overflow-hidden">
        <Image
          src={blogImage}
          alt={blogEntry.data.cardImageAlt || "Blog post image"}
          class="h-40 w-full object-cover transition duration-500 group-hover:scale-105"
          width={300}
          height={160}
          draggable="false"
          format="jpg"
        />
      </div>
    )}
    <div class="p-4">
      <h3 class="text-lg font-bold text-neutral-800 group-hover:text-blue-600 dark:text-neutral-200 dark:group-hover:text-blue-500">
        {blogEntry.data.title}
      </h3>
      <p class="mt-2 text-sm text-neutral-500 dark:text-neutral-400">
        {formatDate(blogEntry.data.pubDate)}
      </p>
    </div>
  </a>
</div>