---
// Destructure the properties from Astro.props
const { url, name } = Astro.props;

// Define TypeScript interface for the properties
interface Props {
  url: string;
  name: string;
}
---

<!--
Re-usable link component for navigation bar. Highlights the active link
by comparing the current URL with the href of each link.
We assign an ID matching the URL for easy reference in our script.
If URL is '/' (home page), assign ID as 'home' 
-->
<a
  id={url === "/" ? "home" : url.replace("/", "")}
  href={url}
  data-astro-prefetch
  class="relative px-3 py-2 rounded-lg text-base font-medium text-neutral-600 outline-none ring-zinc-500 hover:text-primary-500 hover:bg-neutral-100/50 dark:hover:bg-neutral-800/50 transition-all duration-300 after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-0 after:bg-primary-500 dark:after:bg-secondary-500 after:transition-all after:duration-300 hover:after:w-full focus-visible:ring dark:text-neutral-400 dark:ring-zinc-200 dark:hover:text-secondary-500 dark:focus:outline-none md:py-3 md:text-sm 2xl:text-base"
>
  {name}
</a>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    let url = window.location.pathname;
    // let urlSegments = url.split("/");
    let navId;

    if (url === "/") {
      navId = "home";
    } else {
      navId = url.replace("/", "");
    }

    let nav = document.getElementById(navId);

    if (nav) {
      nav.classList.remove(
        "text-neutral-600",
        "dark:text-neutral-400",
        "hover:text-neutral-500",
        "dark:hover:text-neutral-500"
      );
      nav.classList.add(
        "text-primary-500", 
        "dark:text-secondary-500",
        "after:w-full",
        "bg-neutral-100/50",
        "dark:bg-neutral-800/50"
      );
      nav.setAttribute("aria-current", "page");
    }
  });
</script>